# Database for EPICS PVs for HESEB beamline data collection software
# This database contains all of the PVs (Metadata) used for general UI usage.

record(bo, "$(P)Run:I0")
{
	field(DESC, "I0 live data plotting")
	field(VAL , "0")
	field(ZNAM, "Start Plotting")
	field(ONAM, "Stop plotting")
	field(PINI, "YES")
}

record(bo, "$(P)Run:It")
{
	field(DESC, "It live data plotting")
	field(VAL , "0")
	field(ZNAM, "Start Plotting")
	field(ONAM, "Stop plotting")
	field(PINI, "YES")
}

record(ao, "$(P)I0:IntTime")
{
	field(DESC, "I0 integration time")
}

record(ao, "$(P)It:IntTime")
{
	field(DESC, "It integration time")
}